@import "tailwindcss";

body{
  margin: 0;
}
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html{
  scroll-behavior: smooth;
}

@keyframes draw-stroke {
  from { stroke-dashoffset: 900; }
  to { stroke-dashoffset: 0; }
}

@keyframes fill-text {
  0% {
    fill: none;
    stroke-width: 2;
  }
  100% {
    fill: url(#gradient);
    stroke-width: 0;
  }
}

.animate-draw {
  animation: draw-stroke 2.8s ease-out forwards;
}

.animate-fill {
  animation: fill-text 0.9s ease forwards;
  animation-delay: 0.8s;
}
