#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}


/* --- PRELOADER --- */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0a0a0a;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.logo {
  width: 70%;
  max-width: 600px;
  height: auto;
}

.text {
  font-size: 80px;
  font-weight: 700;
  animation: draw 3s ease forwards, fill 1s ease forwards 3s;
}

/* --- ANIMACIONES --- */
@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: url(#gradient);
  }
}

